.loxia {
}

.loxiaInput,
.loxiaTextarea{
	border:1px solid #ccc;
}

.loxiaInputFocused,
.loxiaTextareaFocused{
	border:1px solid #000;
}
	
.loxiaInputRequired,
.loxiaTextareaRequired {
	background-color: #ffff99;
}

.loxiaSelectRequired {
}

.loxiaInputError,
.loxiaTextareaError{
	border:1px solid #ff3300;
}

.loxiaTooltip
{
	z-index: auto;
	display: none;
	position:absolute;	
	overflow: hidden;
	text-indent: 5px;
	line-height: 20px;
	font-size: 12px;
	font-family: Arial;
	opacity:0.9;
    filter: alpha(opacity=90);
}

/*
*
* LoxiaTip
*
*/
.loxiatip
{
	position: absolute;
	z-index: 50;
	border-collapse: collapse;
}
.loxiatip td.tip-topleft
{
	background: transparent url(bubbletip.png) no-repeat scroll 0px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-TL-corner.png', sizingMethod='crop');
	height: 33px;
	width: 33px;
}
.loxiatip td.tip-top
{
	background: transparent url(bubbletip-T-B.png) repeat-x scroll 0px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-T.png', sizingMethod='scale');
	height: 33px;
}
.loxiatip td.tip-topright
{
	background: transparent url(bubbletip.png) no-repeat scroll -73px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-TR-corner.png', sizingMethod='crop');
	height: 33px;
	width: 33px;
}
.loxiatip td.tip-left-tail div.tip-left, .loxiatip td.tip-left
{
	background: transparent url(bubbletip-L-R.png) repeat-y scroll 0px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-L.png', sizingMethod='scale');
	width: 33px;
}
.loxiatip td.tip-left-tail div.tip-left-tail
{
	background: transparent url(bubbletip.png) no-repeat scroll 0px -33px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-L-tail.png', sizingMethod='scale');
	width: 33px;
	height: 40px;
}
.loxiatip td.tip-right-tail div.tip-right, .loxiatip td.tip-right
{
	background: transparent url(bubbletip-L-R.png) repeat-y scroll -33px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-R.png', sizingMethod='scale');
	width: 33px;
}
.loxiatip td.tip-right-tail div.tip-right-tail
{
	background: transparent url(bubbletip.png) no-repeat scroll -73px -33px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-R-tail.png', sizingMethod='scale');
	width: 33px;
	height: 40px;
}
.loxiatip td.tip-bottomleft
{
	background: transparent url(bubbletip.png) no-repeat scroll 0px -73px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-BL-corner.png', sizingMethod='crop');
	height: 33px;
	width: 33px;
}
.loxiatip td.tip-bottom
{
	background: transparent url(bubbletip-T-B.png) repeat-x scroll 0px -33px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-B.png', sizingMethod='scale');
	height: 33px;
}
.loxiatip td.tip-bottomright
{
	background: transparent url(bubbletip.png) no-repeat scroll -73px -73px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-BR-corner.png', sizingMethod='crop');
	height: 33px;
	width: 33px;
}
.loxiatip table.tip-top, .loxiatip table.tip-bottom
{
	width: 100%;
}
.loxiatip table.tip-top th
{
	width: 50%;
	background: transparent url(bubbletip-T-B.png) repeat-x scroll 0px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-T.png', sizingMethod='scale');
}
.loxiatip table.tip-bottom th
{
	width: 50%;
	background: transparent url(bubbletip-T-B.png) repeat-x scroll 0px -33px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-B.png', sizingMethod='scale');
}
.loxiatip table.tip-top td div
{
	background: transparent url(bubbletip.png) no-repeat scroll -33px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-T-tail.png', sizingMethod='crop');
	width: 40px;
	height: 33px;
}
.loxiatip table.tip-bottom td div
{
	background: transparent url(bubbletip.png) no-repeat scroll -33px -73px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bubbletip-B-tail.png', sizingMethod='crop');
	width: 40px;
	height: 33px;
}
.loxiatip td.tip-content
{
	background-color: #fff;
}