<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
      <property name="show_sql">true</property>
      <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
      <property name="hibernate.hbm2ddl.auto">create-drop</property>
      <property name="hibernate.jdbc.batch_size">100</property>
      
      <mapping class="loxia.model.InnerUser"/>
      <mapping resource="META-INF/orm.xml"/>
</session-factory>
</hibernate-configuration>