<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <!--      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>-->
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="DEBUG"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
<!--            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>-->
            <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>

    <logger name="cn.benjamin.loxia"><level value="DEBUG"/></logger>
    <logger name="org.springframework"><level value="DEBUG"/></logger>
    
    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
